version: "3.9"

services:
  user-service:
    build: ./services/user-service
    container_name: user-service
    ports:
      - "9000:9000"

  product-service:
    build: ./services/product-service
    container_name: product-service
    ports:
      - "9001:9001"

  order-service:
    build: ./services/order-service
    container_name: order-service
    ports:
      - "8002:8002"
      - "9002:9002"
    depends_on:
      - user-service
      - product-service

  kong:
    image: kong:3.6
    container_name: kong
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/kong.yml
    volumes:
      - ./kong.yml:/kong/kong.yml
    ports:
      - "8000:8000"
      - "8001:8001"
    depends_on:
      - order-service
